<!doctype html>
<html lang="en">
<head>
<title>limap.co</title>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/toastr.min.css" />

<script src="/js/toastr.min.js"/></script>

<script>
	$(function() {
		$('.imageSet').click(function(e) {
			var imageSet = $(this);

			var offset = imageSet.offset();
			
		});

		$('.car').click(function(event){
			event.stopPropagation();
			$.ajax({
				type : "POST",
				url : '/stat/pieceSubmit/',
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify({
					image : $(this).closest('.overlaySet').first().attr('data-image'),
					id : $(this).closest('.imageSet').first().data('id'),
					type : 'car'
				}),
				success : function(data) {

					toastr['info']('Saved');
				}
			});
		});

		$('.notcar').click(function(event){
			event.stopPropagation();
			$.ajax({
				type : "POST",
				url : '/stat/pieceSubmit/',
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify({
					image : $(this).closest('.overlaySet').first().attr('data-image'),
					id : $(this).closest('.imageSet').first().data('id'),
					type : 'notcar'
				}),
				success : function(data) {

					toastr['info']('Saved');
				}
			});
		});
		
		function updateImage() {
			var d = new Date();

			$('.cam').each( function() {
					$(this).attr('src', $(this).data('src') + "?" + Date.now());
				});
			

			$.ajax({
				type : "GET",
				url : '/stat/heatmap/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F').attr("src","data:image/png;base64," + data)
				}
			});


			$.ajax({
				type : "GET",
				url : '/stat/heatmap0/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F0').attr("src","data:image/png;base64," + data)
				}
			});

			$.ajax({
				type : "GET",
				url : '/stat/heatmap1/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F1').attr("src","data:image/png;base64," + data)
				}
			});
			
			$.ajax({
				type : "GET",
				url : '/stat/heatmap2/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F2').attr("src","data:image/png;base64," + data)
				}
			});
			
			$.ajax({
				type : "GET",
				url : '/stat/heatmap3/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F3').attr("src","data:image/png;base64," + data)
				}
			});
			
			$.ajax({
				type : "GET",
				url : '/stat/heatmap4/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F4').attr("src","data:image/png;base64," + data)
				}
			});
			
			
			$.ajax({
				type : "GET",
				url : '/stat/heatmap5/K621F',
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#K621F5').attr("src","data:image/png;base64," + data)
				}
			});
			
			
			console.log('updating');
		}
		updateImage();

		setInterval(function() {
			updateImage();
		}, 60000);
		
	    toastr.options.positionClass = 'toast-top-left';
	    toastr.options.extendedTimeOut = 5000; //1000;
	    toastr.options.timeOut = 5000;
	    toastr.options.fadeOut = 250;
	    toastr.options.fadeIn = 150;
	    toastr.options.showEasing = 'swing';
	    toastr.options.hideEasing = 'linear';
	    toastr.options.newestOnTop = false;
	});
</script>
<style>
.imageSet {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.overlaySet {
	position: absolute;
	top: 0;
	left: 0;
	width:500px;
}

.cam {
	width: 640px;
	height: 480px;
}

#toast-container > .toast{
    background-image: none !important;
    margin:5px;
    padding:5px;
    font-size:16px;
    font-weight:normal;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border-radius: 5px;
}


</style>
</head>
<body>
<input type="text" id="range"/>
	<table cellpadding="10" cellspacing="10">
		<tr>
			<td><img class="cam" data-src="https://tdcctv.data.one.gov.hk/K621F.JPG" src="" /></td>
			<td><img id="K621F" src="" /></td>
			<td><img id="K621F1" src="" /></td>
			<td><img id="K621F0" src=""  /></td>
		</tr>
		<tr>
			<td><img id="K621F2" src="" /></td>
			<td><img id="K621F3" src="" /></td>
			<td><img id="K621F4" src="" /></td>
			<td><img id="K621F5" src="" /></td>
		</tr>
	</table>
<!-- 
	汀九橋
				<div class="imageSet" data-id="K621F">
					<div class="base">
						<img class="cam"
							data-src="https://tdcctv.data.one.gov.hk/K621F.JPG" src="" />
					</div>
					<div class="overlay">
						<div class="overlaySet">
							<img class="overlayImage"src="https://limap.co/icon/019-pin-4.png" style="width: 40px; height: 40px" />
							<button class="btn btn-primary car">Car</button>
							<button class="btn btn-light notcar">Not car</button>
						</div>
					</div>
				</div>
				
				
 -->
</body>
</html>