<!doctype html>
<html lang="en">
<head>
<title>蓮圖 limap.co</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="description" content="蓮圖  limap.co 香港區域地圖">  
<meta name="keywords" content="Distributed Marker Application for Hong Kong Area">
<meta name="robots" content="index, nofollow" />

<meta property="og:title" content="蓮圖  limap.co"></meta>
<meta property="og:type" content="hongkong.map.application"></meta>
<meta property="og:url" content="https://limap/co"></meta>

<meta charset="utf-8">

<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">

<script src="/js/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" href="/css/leaflet.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/leaflet-search.css" />
<link rel="stylesheet" href="/css/leaflet.draw.css" />
<link rel="stylesheet" href="/css/fontawesome-5.8.1.all.css" />
<link rel="stylesheet" href="/css/colorPicker.css" />
<link rel="stylesheet" href="/css/toastr.min.css" />

<script src="/js/leaflet.js"></script>
<script src="/js/leaflet-search.js"></script>
<script src="/js/leaflet.draw.js"></script>
<script src="/js/leaflet.draw.polyline.js"></script>
<script src="/js/leaflet.polylineDecorator.js"></script>
<script src="/js/leaflet-heat.js"></script>
<script src="/js/paste.js"></script>
<script src="/js/jquery.colorPicker.min.js"/></script>
<script src="/js/toastr.min.js"/></script>

<style>
.iconMarkup {
	margin-left: -50px!improtant;
	margin-top: -10px !important;
}

.btn-sm {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 10px;
	opacity: 0.6;
}

#map {
	width: 100%;
	height: 100vh;
}

.location-icon {
	width: 200px;
}

html * {
	font-family: Trebuchet MS;
}

.pulse {
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.baseIcon{
	opacity:0.6;
}

@keyframes pulse {
    0% {
		padding:10px;
      -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 35px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 35px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.img-border{
-webkit-filter: drop-shadow(3px 3px 0 var(--borderColor))
                drop-shadow(-3px 3px 0 var(--borderColor));

filter: drop-shadow(3px 3px 0 var(--borderColor))
        drop-shadow(-3px 3px 0 var(--borderColor));
}

#markerMessageLog{
	background-color:white;
	border:1px solid #CECECE;
	padding:2px;
}

.leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
    color:#FEFEFE;
    background-color: #2C3737;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
.messageEditor{
	width:200px;
}
#toast-container{
	margin:0px;
}
#toast-container > .toast {
    background-image: none !important;
    margin:0px;
    padding:14px;
    font-size:16px;
    font-family: 微軟正黑體;
}

</style>
</head>
<body>
	<div id="map"></div>
	
	<script th:inline="javascript">
		var loggedLayers = [[${loggedLayers}]];
		var layerKeys = [[${layerKeys}]];
		var layerKeysString = [[${layerKeysString}]];
		var layerMap = [[${layerMap}]];
		var colorMap = {'red':'#F5B7B1','blue':'#7FB3D5','green':'#D0ECE7','orange':'#F9E79F','purple':'#E8DAEF'};
		var validLayers = [[${validLayers}]];
		var latestMarkerList;
		
		var key = [[${key}]];
		
		var timestamp = Date.now();
		var allMessageLog = [];
		
		var allMarkerList = [];
		var pause = false;
		
		var dragLock = true;
		var maxZIndex = 1;
		var markerBaseOpacity = 0.1;
		
		L.Marker.prototype.__setPos = L.Marker.prototype._setPos;
		L.Marker.prototype._setPos = function ()
		{
		    L.Marker.prototype.__setPos.apply(this, arguments);
		    this._zIndex = this.options.zIndexOffset;
		    this._resetZIndex();
		};
		
		String.prototype.toMMSS = function () {
		    var sec_num = parseInt(this, 10); 
		    var hours   = Math.floor(sec_num / 3600);
		    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
		    var seconds = sec_num - (hours * 3600) - (minutes * 60);

		    if (hours   < 10) {hours   = "0"+hours;}
		    if (minutes < 10) {minutes = "0"+minutes;}
		    if (seconds < 10) {seconds = "0"+seconds;}
		    
		    if(Math.floor(sec_num / 3600) > 0){
			    return hours+':'+minutes+':'+seconds;
		    }else{
			    return minutes+':'+seconds;
		    }
		}
		
		String.prototype.formatDate = function () {
		    var date = new Date(Date.parse(this));
		    
		    var hours   = date.getHours();
		    var minutes = date.getMinutes();
		    
		    if (hours   < 10) {hours   = "0"+hours;}
		    if (minutes < 10) {minutes = "0"+minutes;}
		    
		    return hours + ":" + minutes;
		}
		
		Number.prototype.toFixedDown = function(digits) {
		    var re = new RegExp("(\\d+\\.\\d{" + digits + "})(\\d)");
		    var m = this.toString().match(re);
		    
		    return m ? parseFloat(m[1]) : this.valueOf();
		};
		
		jQuery.fn.center = function () {
		    this.css("position","absolute");
		    this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
		    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
		    this.css("z-index" , 999);
		    return this;
		}
		
		function showRegister(layer) {
			$('#registerLayerKey').val(layer);
			$('#registerFormDiv').center();
			$('#registerFormDiv').show();
		}

		$(document).ready(function() {
			
			$('#registerFormDiv').hide();
			$('#registerForm').submit(function(e){
				e.preventDefault();
				
				$.ajax({
					type : "POST",
					url : '/register',
					data : $(this).serialize(),
					
					success : function(data) {
						if(data.status == "success"){
							window.location.reload();
						}else{
							alert(data.remarks);
						}
					}
				});
			});
			
			var osmUrl = '/m/{z}/{x}/{y}.png', 
				osmAttrib = '&copy; 地圖版權屬香港特區政府 <a href="http://www.map.gov.hk">www.map.gov.hk</a> Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>', 
				osm = L.tileLayer(osmUrl, {	maxZoom : 20,attribution : osmAttrib});
				
			var Stamen_TonerLabels = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-labels/{z}/{x}/{y}{r}.{ext}', {
				attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
				subdomains: 'abcd',
				minZoom: 0,
				maxZoom: 20,
				ext: 'png'
			});
			
			map = L.map('map').setView([ [[${lat}]], [[${lng}]] ], [[${zoom}]]).addLayer(osm);

 			map.addLayer(Stamen_TonerLabels);
 			
			var station_icon=L.divIcon({html:'<img src="/icon/house.png" style="width:24px;height:24px"/>',iconSize:[24,24],className:'baseIcon'})
			L.marker([22.278396,114.167411],{icon:station_icon}).bindTooltip("香港警察總部").addTo(map)
			L.marker([22.3257471,114.2083386],{icon:station_icon}).bindTooltip("香港輔助警察總部").addTo(map)
			L.marker([22.2836613,114.2205155],{icon:station_icon}).bindTooltip("港島區警察交通部").addTo(map)
			L.marker([22.323592,114.183294],{icon:station_icon}).bindTooltip("西九龍總區警察總部").addTo(map)
			L.marker([22.451744,114.173207],{icon:station_icon}).bindTooltip("新界北總區警察總部").addTo(map)
			L.marker([22.3710322,114.1228477],{icon:station_icon}).bindTooltip("新界南總區警察總部").addTo(map)
			L.marker([22.288774,114.149409],{icon:station_icon}).bindTooltip("中區警署").addTo(map)
			L.marker([22.292068,114.209087],{icon:station_icon}).bindTooltip("東區警察總部暨北角警署").addTo(map)
			L.marker([22.2876629,114.1405353],{icon:station_icon}).bindTooltip("西區警署").addTo(map)
			L.marker([22.339141,114.19643],{icon:station_icon}).bindTooltip("黃大仙區警察總部暨黃大仙警署").addTo(map)
			L.marker([22.3096515,114.2313135],{icon:station_icon}).bindTooltip("觀塘警署").addTo(map)
			L.marker([22.321574,114.22459],{icon:station_icon}).bindTooltip("秀茂坪警署").addTo(map)
			L.marker([22.323124,114.259555],{icon:station_icon}).bindTooltip("東九龍總區警察總部暨將軍澳區警署").addTo(map)
			L.marker([22.30267,114.171363],{icon:station_icon}).bindTooltip("油尖區警察總部暨尖沙咀警署").addTo(map)
			L.marker([22.3243407,114.1690247],{icon:station_icon}).bindTooltip("旺角警署").addTo(map)
			L.marker([22.335529,114.146546],{icon:station_icon}).bindTooltip("長沙灣警署").addTo(map)
			L.marker([22.3074959,114.1895446],{icon:station_icon}).bindTooltip("西九龍交通行動基地").addTo(map)
			L.marker([22.452228,114.173171],{icon:station_icon}).bindTooltip("大埔區警察總部及大埔警署").addTo(map)
			L.marker([22.394854,113.971891],{icon:station_icon}).bindTooltip("屯門警署").addTo(map)
			L.marker([22.4438952,114.0229838],{icon:station_icon}).bindTooltip("元朗警署").addTo(map)
			L.marker([22.5109711,114.0737915],{icon:station_icon}).bindTooltip("邊界區警察總部").addTo(map)
			L.marker([22.3869542,114.1925168],{icon:station_icon}).bindTooltip("沙田警署").addTo(map)
			L.marker([22.2683892,114.2355596],{icon:station_icon}).bindTooltip("柴灣警署").addTo(map)
			L.marker([22.288774,114.149409],{icon:station_icon}).bindTooltip("中區警署").addTo(map)
			L.marker([22.2787249,114.1684913],{icon:station_icon}).bindTooltip("灣仔警署").addTo(map)
			L.marker([22.267077,114.186999],{icon:station_icon}).bindTooltip("跑馬地警署").addTo(map)
			L.marker([22.264302,114.155205],{icon:station_icon}).bindTooltip("山頂警署").addTo(map)
			L.marker([22.2876629,114.1405353],{icon:station_icon}).bindTooltip("西區警署").addTo(map)
			L.marker([22.248244,114.161405],{icon:station_icon}).bindTooltip("香港仔警署").addTo(map)
			L.marker([22.2187284,114.2132994],{icon:station_icon}).bindTooltip("赤柱警署").addTo(map)
			L.marker([22.3096515,114.2313135],{icon:station_icon}).bindTooltip("觀塘警署").addTo(map)
			L.marker([22.383705,114.272213],{icon:station_icon}).bindTooltip("西貢警署").addTo(map)
			L.marker([22.321574,114.22459],{icon:station_icon}).bindTooltip("秀茂坪警署").addTo(map)
			L.marker([22.320596,114.212027],{icon:station_icon}).bindTooltip("牛頭角分區警署").addTo(map)
			L.marker([22.3097832,114.1688265],{icon:station_icon}).bindTooltip("油麻地警署").addTo(map)
			L.marker([22.3243407,114.1690247],{icon:station_icon}).bindTooltip("旺角警署").addTo(map)
			L.marker([22.3302026,114.1589355],{icon:station_icon}).bindTooltip("深水埗警署").addTo(map)
			L.marker([22.335529,114.146546],{icon:station_icon}).bindTooltip("長沙灣警署").addTo(map)
			L.marker([22.324378,114.185315],{icon:station_icon}).bindTooltip("九龍城警署").addTo(map)
			L.marker([22.315333,114.177682],{icon:station_icon}).bindTooltip("紅磡警署").addTo(map)
			L.marker([22.495107,114.141381],{icon:station_icon}).bindTooltip("上水警署").addTo(map)
			L.marker([22.394854,113.971891],{icon:station_icon}).bindTooltip("屯門警署").addTo(map)
			L.marker([22.3757973,113.9669359],{icon:station_icon}).bindTooltip("青山警署").addTo(map)
			L.marker([22.4438952,114.0229838],{icon:station_icon}).bindTooltip("元朗警署").addTo(map)
			L.marker([22.449897,114.00231],{icon:station_icon}).bindTooltip("天水圍警署").addTo(map)
			L.marker([22.441263,114.089375],{icon:station_icon}).bindTooltip("八鄉警署").addTo(map)
			L.marker([22.537528,114.211163],{icon:station_icon}).bindTooltip("沙頭角警署").addTo(map)
			L.marker([22.540873,114.148738],{icon:station_icon}).bindTooltip("打鼓嶺警署").addTo(map)
			L.marker([22.511498,114.080296],{icon:station_icon}).bindTooltip("落馬洲警署").addTo(map)
			L.marker([22.376899,114.11024],{icon:station_icon}).bindTooltip("荃灣警署").addTo(map)
			L.marker([22.3569684,114.1296637],{icon:station_icon}).bindTooltip("葵涌警署").addTo(map)
			L.marker([22.351258,114.10756],{icon:station_icon}).bindTooltip("葵青警區總部暨青衣分區警署").addTo(map)
			L.marker([22.3869542,114.1925168],{icon:station_icon}).bindTooltip("沙田警署").addTo(map)
			L.marker([22.366071,114.175522],{icon:station_icon}).bindTooltip("田心警署").addTo(map)
			L.marker([22.4222711,114.2330609],{icon:station_icon}).bindTooltip("馬鞍山警署").addTo(map)
			L.marker([22.302571,113.932248],{icon:station_icon}).bindTooltip("機場警署").addTo(map)
			L.marker([22.375444,114.274419],{icon:station_icon}).bindTooltip("水警東警署").addTo(map)
			L.marker([22.362791,114.011807],{icon:station_icon}).bindTooltip("水警西警署").addTo(map)
			L.marker([22.208161,114.030623],{icon:station_icon}).bindTooltip("長洲警署").addTo(map)
			L.marker([22.528407,114.111586],{icon:station_icon}).bindTooltip("得月樓警崗").addTo(map)
			L.marker([22.316961,114.040613],{icon:station_icon}).bindTooltip("竹篙灣警崗").addTo(map)
			L.marker([22.3477566,114.060308],{icon:station_icon}).bindTooltip("馬灣警崗").addTo(map)
			L.marker([22.549622,114.29209],{icon:station_icon}).bindTooltip("吉澳警崗").addTo(map)
			L.marker([22.349615,114.1965],{icon:station_icon}).bindTooltip("慈雲山報案中心").addTo(map)
			L.marker([22.333658,114.169519],{icon:station_icon}).bindTooltip("石硤尾報案中心及西九龍機動部隊行動基地").addTo(map)
			L.marker([22.380923,114.207466],{icon:station_icon}).bindTooltip("小瀝源行動基地暨報案中心").addTo(map)
			L.marker([22.515105,114.065989],{icon:station_icon}).bindTooltip("落馬洲支線口岸警察報案中心").addTo(map)
			L.marker([22.3074959,114.1895446],{icon:station_icon}).bindTooltip("西九龍交通行動基地").addTo(map)
			L.marker([22.4897159,114.1330594],{icon:station_icon}).bindTooltip("警察機動部隊總部").addTo(map)
			
			map.addControl( new L.Control.Search({
				url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
				jsonpParam: 'json_callback',
				propertyName: 'display_name',
				propertyLoc: ['lat','lon'],
				marker: L.circleMarker([0,0],{radius:20}),
				autoCollapse: true,
				autoType: false,
				minLength: 2
			}));

			var command = L.control({position: 'bottomleft'});
			
			command.onAdd = function (map) {
			    
			    var htmlContent = "<div class='container mb-5 ml-n3 mr-4'>";
			    
			    if(loggedLayers.length > 0){
			    	htmlContent += '<div class="row ml-1"><select name="layer" id="markerLayer" class="btn-warning rounded" style="padding:5px">';
			    	
			    	loggedLayers.forEach(function(loggedItem){
						if(layerKeys.includes(loggedItem)){
			    			htmlContent += '<option value="' + loggedItem + '">' + loggedItem + "</option>";
						}
			    	});
			    	
			    	htmlContent += '</select></div>'; 
				}
			    
				layerKeys.forEach(function (item) {
					htmlContent += '<div class="row ml-1">';
					
					if(!loggedLayers.includes(item)){
						if(validLayers.includes(item)){
							htmlContent += '<form class="layerLoginForm row"><div class="col-5"><input type="hidden" name="layerKey" value="'+item+'"/><input type="password" name="password" placeholder="('+item+' password)" style="width:100px"/></div><div class="col-1"><button type="submit">Login</button></div></form>'; 
						}else{
							htmlContent += '<div class="row ml-1"><button onclick="showRegister(\''+ item+'\')">register '+item+'</button></div>'; 
						}
					}
					htmlContent += '</div>';
				});

			    htmlContent += "</div>";

			    var div = L.DomUtil.create('div', 'command');
			    div.innerHTML = htmlContent;
			    
			    return div;

			}

			command.addTo(map);
			
			var helpControl =  L.Control.extend({
			
				options: {
					position: 'bottomright'
				},
				
				onAdd: function (map) {
					var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
					container.id = 'helpControl';
					container.innerHTML = '<i class="far fa-flag fa-2x"></i>';
					container.style = 'background-color:white;padding:3px;font-size:8px;color:#666666';
					
					container.onclick = function(){
						window.open('https://docs.google.com/document/d/1_fB1PXTwfpnjwhP0xS0grxl6KoYcQHAC1cTOvFN0DGM/edit?usp=sharing','info_document');
					}
					
					return container;
				}
			});
		    
		    map.addControl(new helpControl());
		    		    
			if(loggedLayers.length > 0){
				
				drawnItems = L.featureGroup().addTo(map);
				
				map.addControl(new L.Control.Draw({
					draw: {
						polygon: true,
						polyline: true,
						circlemarker: false,
						circle:false,
						rectangle: true,
						marker: false,
					},
					edit: {
						featureGroup: drawnItems,
						remove: false,
						edit:false
					}
				}));
				var addressPoints = [];
				
				var heat = L.heatLayer(addressPoints,{radius:15,gradient:{0.5: 'white', 1:'red'}}).addTo(map),
				    draw = false;

			     map.on('mousemove', function (e) {
					if (draw) {
					 	if(e.originalEvent.which == 1){
							map.dragging.disable();
							heat.setOptions({radius:15,gradient:{0.5: 'white', 1:$('#shapeColor').val()}})
						    heat.addLatLng(e.latlng);
						}
					}
			     });
			
				map.on('mouseup',function(e){
					if(draw){

						var layer = $('#markerLayer').val();
						var color = $('#shapeColor').val();
						
						if(layer){
							$.ajax({
								type : "POST",
								url : '/marker/add',
								data : {
									'lat' : addressPoints[addressPoints.length-1].lat,
									'lng' : addressPoints[addressPoints.length-1].lng,
									'shapeType' : 'heat',
									'type' : 'shape',
									'layer' : layer,
									'color' : color,
									'message' : '',
									'shapeList' : JSON.stringify(addressPoints)
								},
								success : function(data) {
									if(data.status == 'success'){
										updateMarkers(map.getCenter().lat, map.getCenter().lng);
									}else{
										if(data.status == 'success'){
											updateMarkers(map.getCenter().lat, map.getCenter().lng);
										}else{
											var alertPopup = L.popup();
											alertPopup.setLatLng(map.getCenter()).setContent(data.remarks).openOn(map);
										}
									}
								}
							});
						}else{
							var alertPopup = L.popup();
							alertPopup.setLatLng(map.getCenter()).setContent('no logged layer').openOn(map);
						}
						
						draw = false;
						addressPoints = [];
						heat.setLatLngs(addressPoints);
						heat.redraw();
						
						map.dragging.enable();

					}

				})
				
			    map.on(L.Draw.Event.CREATED, function (e) {
					var type = e.layerType;
					var layerObject = e.layer;
					
					var latlngArr = [];
					
					if(Array.isArray(layerObject.getLatLngs()[0])){
						latlngArr = layerObject.getLatLngs()[0];
					}else{
						latlngArr = layerObject.getLatLngs();
					}
					
					var layer = $('#markerLayer').val();
					var color = $('#shapeColor').val();
					
					if(layer){
						$.ajax({
							type : "POST",
							url : '/marker/add',
							data : {
								'lat' : latlngArr[latlngArr.length-1].lat,
								'lng' : latlngArr[latlngArr.length-1].lng,
								'shapeType' : type,
								'type' : 'shape',
								'layer' : layer,
								'color' : color,
								'message' : '',
								'shapeList' : JSON.stringify(latlngArr)
							},
							success : function(data) {
								if(data.status == 'success'){
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}else{
									if(data.status == 'success'){
										updateMarkers(map.getCenter().lat, map.getCenter().lng);
									}else{
										var alertPopup = L.popup();
										alertPopup.setLatLng(map.getCenter()).setContent(data.remarks).openOn(map);
									}
								}
							}
						});
					}else{
						var alertPopup = L.popup();
						alertPopup.setLatLng(map.getCenter()).setContent('no logged layer').openOn(map);
					}
			    });

				var fullScreenControl =  L.Control.extend({
				
					options: {
						position: 'topright'
					},
					
					onAdd: function (map) {
						var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
						container.id = 'fullScreenControl';
						container.innerHTML = '<i class="fas fa-expand fa-2x"></i>';
						container.style = 'background-color:white;padding:3px;font-size:8px;color:#666666';
						
						container.onclick = function(){
							toggleFullScreen();
						}
						
						return container;
					}
				});
			    
			    map.addControl(new fullScreenControl());
			    
				var dragLockControl =  L.Control.extend({
				
					options: {
						position: 'topright'
					},
					
					onAdd: function (map) {
						var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
						container.id = 'dragLockButton';
						container.innerHTML = '<i class="fas fa-lock fa-2x"></i>';
						container.style = 'background-color:white;padding:3px;font-size:8px;color:#666666';
						
						container.onclick = function(){
							if(dragLock){
								dragLock = false;
								$('#dragLockButton')[0].innerHTML = '<i class="fas fa-unlock fa-2x"></i>';
							}else{
								dragLock = true;
								$('#dragLockButton')[0].innerHTML = '<i class="fas fa-lock fa-2x"></i>';
							}
							
							updateMarkers(map.getCenter().lat, map.getCenter().lng);
						}
						
						return container;
					}
				});
			    
			    map.addControl(new dragLockControl());
			    
				var command = L.control({position: 'topleft'});
				
				command.onAdd = function (map) {
					var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
					container.id = 'shapeColorDiv';
					container.innerHTML = '<input id="shapeColor" type="text" name="shapeColor" value="ff0000" />';
					container.style = 'background-color:white;padding:2px;font-size:8px;color:#666666';
					
					return container;

				}

				command.addTo(map);

				$('#shapeColor').colorPicker({colors: ["000000", "003399", "009966", "00cc00", "cc0000","cc6600","ff0000","ff9900","ff66cc","990099","ccff00","ffffff"]});
			    
			}
		    
			var logControl =  L.Control.extend({
				
				options: {
					position: 'bottomright'
				},
				
				onAdd: function (map) {
					var container = L.DomUtil.create('div', '');
					container.id = 'logControl';
					container.innerHTML = '<div id="markerMessageLog" class="rounded"></div>';

					return container;
				}
			});
		    
		    map.addControl(new logControl());
		    
		    $('.layerLoginForm').submit(function(e){
		    	e.preventDefault();
				$.ajax({
					type : "GET",
					url : '/login',
					data : $(this).serialize(),
					
					success : function(data){
						if(data.status == 'success'){
							window.location.reload(false); 
						}else{
							var alertPopup = L.popup();
							alertPopup.setLatLng(map.getCenter()).setContent(data.remarks).openOn(map);
						}
					}
				});
		    })
			
			var menu = L.popup();
			var menuLatLng;
			
			function onMapClick(e) {
				menuLatLng = e.latlng;
				$('#coord').show();
				menu.setLatLng(e.latlng).setContent($('#coord')[0]).openOn(map);
			}

			map.on('contextmenu', onMapClick);

			map.on('dragend zoomend', function(e) {
				history.replaceState(null, null, '/l/' + layerKeysString + '/' + map.getZoom() + "/" + map.getCenter().lat.toFixedDown(4) + "/" + map.getCenter().lng.toFixedDown(4));
				
				if (latestMarkerList) {
					processMarker(latestMarkerList);
				}
			});

			updateMarkers(map.getCenter().lat, map.getCenter().lng);
			
			clickRegister($("#btnInfoMarker"), 'info');
			clickRegister($("#btnRedInfoMarker"), 'redinfo');
			clickRegister($("#btnYellowInfoMarker"), 'yellowinfo');
			
			clickRegister($("#btnMedicalMarker"), 'medical');
			clickRegister($("#btnGroupMarker"), 'group');
			clickRegister($("#btnSupplyMarker"), 'supply');

			clickRegister($("#btnFlagBlackMarker"), 'blackflag');
			clickRegister($("#btnFlagBlueMarker"), 'blueflag');
			clickRegister($("#btnFlagOrangeMarker"), 'orangeflag');
			clickRegister($("#btnFlagRedMarker"), 'redflag');
			clickRegister($("#btnFlagYellowMarker"), 'yellowflag');
			
			clickRegister($("#btnBlockadeMarker"), 'blockade');
			clickRegister($("#btnPedestrianMarker"), 'pedestrian');
			clickRegister($("#btnWarningMarker"), 'warning');
			clickRegister($("#btnPoliceMarker"), 'police');

			clickRegister($("#btnRiotPoliceMarker"), 'riotpolice');

			clickRegister($("#btnWaterTruckMarker"), 'watertruck');
			
			clickRegister($("#btnDangerMarker"), 'danger');
			clickRegister($("#btnTearGasMarker"), 'teargas');
						
			
			function clickRegister(button,type){
				button.click(function(e) {
					e.preventDefault();
					var message = $('#markerMessage').val();
					var layer = $('#markerLayer').val();
					
					if(layer){
						$.ajax({
							type : "POST",
							url : '/marker/add',
							data : {
								'lat' : menu.getLatLng().lat,
								'lng' : menu.getLatLng().lng,
								'type' : type,
								'layer' : layer,
								'message' : message
							},
							success : function(data) {
								if(data.status == 'success'){
									$('#markerMessage').val('');
									map.closePopup();
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}else{
									var alertPopup = L.popup();
									alertPopup.setLatLng(menuLatLng).setContent(data.remarks).openOn(map);
								}
							}
						});
					}else{
						alertPopup.setLatLng(map.getCenter()).setContent('layer not logged').openOn(map);
					}
				
				});
			}
			
			if(typeof(EventSource) !== "undefined") {
			    var eventSource = new EventSource("/markerEvents?key="+ key +"&layerKeys=" + layerKeysString + "&lat=" + map.getCenter().lat  + "&lng=" + map.getCenter().lng);
			    
				eventSource.onmessage = e => {
					if(!pause){
						var markerList = JSON.parse(e.data);
						latestMarkerList = markerList;
						processMarker(markerList);
					}
				};
			} 
			
			function updateMarkers(lat, lng) {
				if(!pause){
					$.ajax({
						type : "GET",
						url : '/marker/' + layerKeysString + '/list',
						data : {
							'lat' : lat,
							'lng' : lng
						},
						
						success : function(data){ 
							latestMarkerList = data.markerList;
							processMarker(data.markerList);
						}
					});
				}
			}
			
			function processMarker(markerList){
				allMarkerList.forEach(function(item, index, object){
					var marker = $.grep(markerList, function(e){ return e.markerId == item.markerId; });
					if(marker.length == 0){
						if(item.relatedMarker){
							map.removeLayer(item.relatedMarker);
						}
						if(item.relatedShape){
							if(Array.isArray(item.relatedShape)){
								item.relatedShape.forEach(function(relatedShapeItem){
									map.removeLayer(relatedShapeItem);
								});
							}else{
								map.removeLayer(item.relatedShape);
							}
						}
						map.removeLayer(item);
						object.splice(index, 1);
					}
				});
				
				var markerIndex = 0;
				
				markerList.forEach(function(item) {
					var marker = $.grep(allMarkerList, function(e){ return e.markerId == item.markerId; });
					
					var upDownButton = '';
					var counter = '';
					var message = '';
					var deleteBtn = '';
					var content = '';
					var pulseClass;
					var pulseStyle;
					var copyButton = '';
					var expirePercent = 0;

					if (item.controllable){						
						message = '<span style="font-size:16px;width:100%;white-space: pre;" class="editableMessage" data-message="' + item.message + '" data-id="'+ item.markerId +'">' + (item.message == '' ? '<span style="color:#CCCCCC">(Message)</span>' : item.message) + '</span>';
						deleteBtn = ' <a href="#" data-id="'+item.markerId+'" class="btn m-0 p-0 btnDelete"><i class="fas fa-trash-alt fa-1x"></i></a>'; 
					}else{
						message = '<span style="font-size:16px;width:100%;white-space: pre;" class="font-weight-normal">' + item.message + '</span>';
					}
					
					if(loggedLayers.length > 0){
				    	loggedLayers.forEach(function(loggedItem){
				    		if(loggedItem != 'public'){
								if(layerKeys.includes(loggedItem)){
									if(item.layer.layerKey != loggedItem){
										copyButton += '<a href="#" data-id="' + item.markerId + '" data-layer="'+loggedItem+'" class="btnCopy mark">&gt;'+loggedItem+'</a>';
									}
								}	
				    		}
				    	});
				    	
					}
					
					if(item.status == 'A'){
						expirePercent = 1;
					}
					
					if (item.markerCache != null) {
						upDownButton = '<div style="width:120px;font-size:13px"><mark class="rounded p-1"><a href="#" data-id="'+item.markerId+'" class="m-0 p-0 btnUp"><i class="far fa-thumbs-up"></i>' + item.markerCache.upVote + '</a>&nbsp;<a href="#" data-id="'+item.markerId+'" class="text-secondary m-0 p-0 btnDown"><i class="far fa-thumbs-down"></i>' + item.markerCache.downVote + '</a>' + deleteBtn + '</mark></div>';
						
						counter = '<div style="width:150px;padding-left:8px;margin-top:-4px"><mark class="rounded" style="font-size:14px;background-color:' + colorMap[layerMap[item.layer.layerKey]] + '"><i class="far fa-clock pr-1" style="width: 11%"></i>' + ("" + item.lastupdatedate).formatDate() + '</mark></div>';
						
						if(item.markerCache.pulse > 0){
							pulseStyle = 'background: red;  color: #E74C3C; padding:1px';
							pulseClass = 'pulse';
						}
						
						//border color
						var iconBorderColor = '#FFFFFF';
						
						expirePercent = item.markerCache.expire / item.expire;
						
						if(item.markerCache.expire <= item.expire){
							var itemDate = new Date(item.lastupdatedate);
							itemDate.setHours(item.hour);
							itemDate.setMinutes(item.minute);
							
							var diffMinute = Math.floor((new Date() - itemDate)/1000/60);
							
							if(diffMinute < -30){
								iconBorderColor = '#ffffff';
							}else if(diffMinute < 5){
								iconBorderColor = '#fd00ff';
							} else if(diffMinute < 15){
								iconBorderColor = '#f9061e';
							} else if(diffMinute < 30){
								iconBorderColor = '#f96806';
							} else if(diffMinute < 60){
								iconBorderColor = '#ffee00';
							} else if(diffMinute < 90){
								iconBorderColor = '#90ff00';
							} else if(diffMinute < 120){
								iconBorderColor = '#fffef1';
							}
						}
					}
					
					content = message;
					
					var htmlContent;
					var icon;
					var updateClass;
					var updateCSS;
					var scale = (map.getZoom() - 12) / 5;
					scale = scale > 0 ? scale < 1 ? scale : 1 : 0.1;
					console.log(scale);
					
					if(item.type == 'image'){
						updateClass = 'img-border m-n4 rounded '+ pulseClass +'';
						updateCSS = '--borderColor: ' + iconBorderColor + ';width:' + item.iconSize + 'px; '+ pulseStyle +';border:2px solid #3366AA !important';
						icon = '<div><img id="marker_icon_'+item.markerId+'" src="/images/i/'+item.imagePath+'" class="'+updateClass+'" style="'+updateCSS+'" /><div>' ;
					}else{
						updateClass = 'img-border m-n4 '+ pulseClass +'';
						updateCSS = '--borderColor: ' + iconBorderColor + ';width:' + ((item.iconSize + ((item.level / 10) * item.iconSize)) * scale) + 'px; height:' + ((item.iconSize + ((item.level / 10) * item.iconSize)) * scale) + 'px; '+ pulseStyle +'';
						icon = '<div><img id="marker_icon_'+item.markerId+'" src="/icon/'+item.icon+'" class="'+updateClass+'" style="'+updateCSS+'" /><div>' ;
					}
					
					var updateMessage = '';

					var messageCutOff = item.message.lastIndexOf("#") < 0 ? item.message.length : item.message.lastIndexOf("#");

					if(map.getZoom() >= 19){
						
						updateMessage =  '<mark class="rounded message" style="white-space: pre; background-color:' + colorMap[layerMap[item.layer.layerKey]] + '">' + item.message.substr(0, messageCutOff) +  '</mark><br/>' + counter + upDownButton + copyButton;
					}else{
						if(markerIndex < 10){
							updateMessage = '<mark class="rounded message" style="white-space: pre; background-color:' + colorMap[layerMap[item.layer.layerKey]] + '">' + item.message.substr(0, messageCutOff).substr(0, 30) +  '</mark><br/>';
						}else{
							updateMessage = '';			
						}
					}
					
					htmlContent = icon + '<div id="marker_message_' + item.markerId + '">' + updateMessage + '</div></div></div>';
										
					var popup = L.popup().setContent(content);
					
					divIcon = L.divIcon({
						className:'location-icon',
						html: htmlContent,
						popupAnchor:  [-3, -14],
						iconAnchor: [-5, 10], 
					});
					
					var imageContent;
					
					if(item.controllable){
						imageContent = '<img src="/images/i/'+item.imagePath+'"/><br/><span style="font-size:16px;width:100%;white-space: pre-wrap; " class="editableMessage" data-message="'+item.message+'" data-id="'+ item.markerId +'">'+ (item.message ? item.message : '<span style="color:#CCCCCC">(Message)</span>') +'</span>'
					}else{
						imageContent = '<img src="/images/i/'+item.imagePath+'"/><br/><span style="font-size:16px;width:100%;white-space: pre-wrap; " data-message="'+item.message+'" data-id="'+ item.markerId +'">'+item.message+'</span>'
					}
					
					var imagePopup = L.popup().setContent(imageContent);
					
					if(marker.length == 0){
						marker = L.marker([ item.lat, item.lng ], {
							draggable : !dragLock && item.controllable,
							icon : divIcon
						}).addTo(map)
						
						marker.setZIndexOffset(0);	
						
						marker.setOpacity(markerBaseOpacity + (item.opacity * (expirePercent * 3)));
						
						if(item.type == 'image'){
							marker.bindPopup(imagePopup, {
								autoPan: false,
								keepInView: false,
								autoClose: true,
								maxWidth: "auto"
							});
							marker.setPopupContent(imageContent);
							marker.getPopup().update();
						}else{
							marker.bindPopup(popup, {
								autoPan: false,
								keepInView: false,
								autoClose: true,
								maxWidth: "auto"
							});
							marker.setPopupContent(content);
							marker.getPopup().update();
						}
						
						if(item.message){
					        marker.on('mouseover', function (e) {
					        	this.getPopup().update();
					            this.openPopup();
					        });
						}
						
						if(item.type == 'shape'){
							
							var shape;
							
							if(item.shapeType =='polyline'){
								shape = L.polyline([],{color: item.color, weight: 4});
								
								item.shapeList.forEach(function(shapePoint) {
									shape.addLatLng(shapePoint);
								});

								var decorator = L.polylineDecorator(shape, {
								    patterns: [
								        {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 30, polygon: false, pathOptions: {weight:4, color : item.color, stroke: true}})}
								    ]
								}).addTo(map);

								shape.addTo(map);
								
								shape.setStyle({opacity:markerBaseOpacity + (item.opacity * (expirePercent * 3))});
								decorator.setStyle({opacity:markerBaseOpacity + (item.opacity * (expirePercent * 3))});
								
								marker.relatedShape = [shape,decorator];
							} else if(item.shapeType =='polygon' || item.shapeType =='rectangle'){
								shape = L.polygon([],{color: item.color, weight: 3});
								
								item.shapeList.forEach(function(shapePoint) {
									shape.addLatLng(shapePoint);
								});
								
								shape.addTo(map);
								
								marker.relatedShape = shape;
							} else if(item.shapeType == 'heat'){
								shape = L.heatLayer([],{radius:15,gradient:{0.5: 'white', 1:item.color}});
								
								item.shapeList.forEach(function(shapePoint) {
									shape.addLatLng(shapePoint);
								});
								
								shape.addTo(map);

								shape.setOptions({opacity:markerBaseOpacity + (item.opacity * (expirePercent * 3))});
								
								marker.relatedShape = shape;
							}
							
						}
						
						marker.on('click', function(e){
							marker.setZIndexOffset(maxZIndex++);		
						});
						
					    marker.on('dragstart', function(e) {
					    	  pause = true;
					    });
					    
						marker.on('dragend', function(e) {
							$.ajax({
								type : "POST",
								url : '/marker/move',
								data : {
									'lat' : e.target.getLatLng().lat,
									'lng' : e.target.getLatLng().lng,
									'markerId' : item.markerId
								},
								success : function(data) {
									pause = false;
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}
							});
							
							if(marker.relatedMarker){
								marker.relatedMarker.setLatLng(e.target.getLatLng());
							}
							
						})

						marker.on('dblclick', function(event){
							if(item.controllable){
								$.ajax({
									type : "POST",
									url : '/marker/pulse',
									data : {
										'markerId' : item.markerId
									},
									success : function(data) {
										updateMarkers(map.getCenter().lat, map.getCenter().lng);
									}
								});
							}

						});
						
						marker.markerId = item.markerId;
						
						allMarkerList.push(marker);
						
						// do notification
						markerDate = Date.parse(item.lastupdatedate);
						currentDate = new Date();
						
						if(currentDate - markerDate < 12000){
							toastr['info']('<a href="#" data-id="'+marker.markerId+'" class="logMessage"><b>'+item.message+'</b></a><br/>');
							
							$('.logMessage').on('click',function(event){
								event.preventDefault();
								var id = $(this).data('id');
								
								var marker = $.grep(allMarkerList, function(e){ return e.markerId == id });
								
								if(marker.length > 0){
									map.setView(marker[0].getLatLng(),17);
								}
							})
						}
					}else{
						
						marker[0].setOpacity(markerBaseOpacity + (item.opacity * (expirePercent * 3)));
						
						$('#marker_message_' + item.markerId).html(updateMessage);						
						$('#marker_icon_' + item.markerId).attr('class', updateClass);
						$('#marker_icon_' + item.markerId).attr('style', updateCSS);
						
						if(item.type == 'image'){
							if(marker[0].getPopup().getContent() != imageContent){
						        marker[0].openPopup();
								marker[0].setPopupContent(imageContent);
							}
						}else{
							if(marker[0].getPopup().getContent() != content){
						        marker[0].openPopup();
								marker[0].setPopupContent(content);	
							}
						}
			
						if(item.message){
							if(!marker[0]._events.mouseover){
						        marker[0].on('mouseover', function (e) {
						        	this.getPopup().update();
						            this.openPopup();
						        });
							}
						}
						
						if(!dragLock && item.controllable){
							marker[0].dragging.enable();
						}else{
							marker[0].dragging.disable();
						}
						
						if(item.lat != marker.lat || item.lng != marker.lng){
							var newLatLng = new L.LatLng(item.lat, item.lng);
							marker[0].setLatLng(newLatLng); 
							
							if(marker[0].relatedMarker){
								marker[0].relatedMarker.setLatLng(newLatLng);
							}							
							
							if(marker[0].relatedShape){
								
								if(item.shapeList){
									var shape;
									
									if(item.shapeType =='polyline'){
										shape = L.polyline([]);
										
										item.shapeList.forEach(function(shapePoint) {
											shape.addLatLng(shapePoint);
										});

									} else if(item.shapeType =='polygon' || item.shapeType =='rectangle'){
										shape = L.polygon([]);
										
										item.shapeList.forEach(function(shapePoint) {
											shape.addLatLng(shapePoint);
										});
									} else if(item.shapeType == 'heat'){
										shape = L.heatLayer([],{radius:15,gradient:{0.5: 'white', 1:item.color}});
										
										item.shapeList.forEach(function(shapePoint) {
											shape.addLatLng(shapePoint);
										});
										
									}
									
									if(Array.isArray(marker[0].relatedShape)){
										marker[0].relatedShape.forEach(function(relatedShapeItem){
											if(typeof relatedShapeItem.setLatLngs == "function"){
												relatedShapeItem.setLatLngs(shape.getLatLngs());
											}else if(typeof relatedShapeItem.setPaths == "function"){
												relatedShapeItem.setPaths(shape.getLatLngs());
											}

											relatedShapeItem.setStyle({opacity:markerBaseOpacity + (item.opacity * (expirePercent * 3))});
										});
									}else{
										marker[0].relatedShape.setLatLngs(shape.getLatLngs());
										
										if(marker[0].relatedShape.setStyle){
											marker[0].relatedShape.setStyle({opacity:markerBaseOpacity + (item.opacity * (expirePercent * 3))});
										}
									}
								}
							}
						}
					}
					
					
					document.querySelector(".leaflet-popup-pane").addEventListener("load", function(event) {
						  var tagName = event.target.tagName,
						  popup = map._popup;
						  
						  // Also check if flag is already set.
						  if (tagName === "IMG" && popup && !popup._updated) {
						    popup._updated = true; // Set flag to prevent looping.
						    popup.update();
						  }
						  
						}, true);

					markerIndex++;
				});

				$(".btnDelete").on("click", function(e) {
					var button = $(this);
					e.preventDefault();
					if(confirm("delete?")){
						$.ajax({
							type : "POST",
							url : '/marker/delete',
							data : {
								'markerId' : button.data("id")
							},
							success : function(data) {
								if(data.status == 'success'){
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}else{
									var markers = $.grep(allMarkerList, function(e){ return e.markerId == button.data("id") });
									
									var alertPopup = L.popup();
					
									alertPopup.setLatLng(markers[0].getLatLng()).setContent(data.remarks).openOn(map);
								}
							}
						});
					}
				});
				
				$(".btnCopy").on("click", function(e) {
					var button = $(this);
					e.preventDefault();
					if(confirm("Copy to " + button.data("layer") + "?")){
						$.ajax({
							type : "POST",
							url : '/marker/copy',
							data : {
								'layer' : button.data("layer"),
								'markerId' : button.data("id")
							},
							success : function(data) {
							    pause = false;
								updateMarkers(map.getCenter().lat, map.getCenter().lng);
							}
						});
					}
				});
				
				$(".btnUp").on("click", function(e) {
					var button = $(this);
					e.preventDefault();

					$.ajax({
						type : "POST",
						url : '/marker/up',
						data : {
							'markerId' : button.data("id")
						},
						success : function(data) {
							if(data.status == 'success'){
								updateMarkers(map.getCenter().lat, map.getCenter().lng);
							}else{
								var markers = $.grep(allMarkerList, function(e){ return e.markerId == button.data("id") });
								
								var alertPopup = L.popup();
				
								alertPopup.setLatLng(markers[0].getLatLng()).setContent(data.remarks).openOn(map);
							}
						}
					});
				});

				$(".btnDown").on("click", function(e) {
					var button = $(this);
					e.preventDefault();
					
					$.ajax({
						type : "POST",
						url : '/marker/down',
						data : {
							'markerId' : button.data("id")
						},
						success : function(data) {
							if(data.status == 'success'){
								updateMarkers(map.getCenter().lat, map.getCenter().lng);
							}else{
								var markers = $.grep(allMarkerList, function(e){ return e.markerId == button.data("id") });
								
								var alertPopup = L.popup();
				
								alertPopup.setLatLng(markers[0].getLatLng()).setContent(data.remarks).openOn(map);
							}
						}
					});
				});
				
				$(".editableMessage").on("dblclick",function(e){
					pause = true;
					$(this).replaceWith('<textarea class="messageEditor form-control" data-id="' + $(this).data("id") + '">' + $(this).data("message") + '</textarea>');
					
					$('.messageEditor').on('keypress blur',function(e){
					    if((e.which == 13 && !e.shiftKey) || e.type == 'blur') {
					    	if (!$(this).data('done')) {
					            $(this).data('done', true);
						    	e.preventDefault();
								$.ajax({
									type : "POST",
									url : '/marker/updateMessage',
									data : {
										'message' : $(this).val(),
										'markerId' : $(this).data("id")
									},
									success : function(data) {
									    pause = false;
										updateMarkers(map.getCenter().lat, map.getCenter().lng);
									}
								});
					    	}
					    }
					});	
					
				});
				
			}
			
			$('#btnImageMarker').on('click',function(){
				$('#imageUploadFile').trigger('click');
				
			});
			
			 $('#imageUploadFile').change(function (e) {
				var message = $('#markerMessage').val();
				var layer = $('#markerLayer').val();
				
				var file_data = $('#imageUploadFile').prop('files')[0];
				var form_data = new FormData();
				form_data.append('file', file_data);
                 
				$.ajax({
					url: '/images/imageUpload?layer=' + layer, 
					dataType: 'text', 
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) {
						res = JSON.parse(response);
						
						if(res.status == 'success'){
							if(layer){
								$.ajax({
									type : "POST",
									url : '/marker/add',
									data : {
										'lat' : menu.getLatLng().lat,
										'lng' : menu.getLatLng().lng,
										'type' : 'image',
										'layer' : layer,
										'message' : message,
										'imagePath': res.filePath
									},
									success : function(data) {
										if(data.status == 'success'){
											$('#markerMessage').val('');
											map.closePopup();
											updateMarkers(map.getCenter().lat, map.getCenter().lng);
										}else{
											var alertPopup = L.popup();
											alertPopup.setLatLng(menuLatLng).setContent(data.remarks).openOn(map);
										}
									}
								});
							}else{
								var alertPopup = L.popup();
								alertPopup.setLatLng(map.getCenter()).setContent('layer not logged').openOn(map);
							}
						}else{
							var alertPopup = L.popup();
							alertPopup.setLatLng(map.getCenter()).setContent(res.remarks).openOn(map);
						}
	               },
	               error: function (response) {
						var alertPopup = L.popup();
						alertPopup.setLatLng(map.getCenter()).setContent(response).openOn(map);
	               }
				});
			});
			
			$('#markerMessage').pastableTextarea();
			
			$('#markerMessage').on('pasteImage', function(ev, data){
				var file_data = data.blob;
				var form_data = new FormData();
				form_data.append('file', file_data);

				$.ajax({
					url: '/images/imageUpload', 
					dataType: 'text', 
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) {
						res = JSON.parse(response);
                  
						var message = $('#markerMessage').val();
						var layer = $('#markerLayer').val();
			
						if(layer){
							$.ajax({
								type : "POST",
								url : '/marker/add',
								data : {
									'lat' : menu.getLatLng().lat,
									'lng' : menu.getLatLng().lng,
									'type' : 'image',
									'layer' : layer,
									'message' : message,
									'imagePath': res.filePath
								},
								success : function(data) {
									if(data.status == 'success'){
										$('#markerMessage').val('');
										map.closePopup();
										updateMarkers(map.getCenter().lat, map.getCenter().lng);
									}else{
										var alertPopup = L.popup();
										alertPopup.setLatLng(menuLatLng).setContent(data.remarks).openOn(map);
									}
								}
							});
						}else{
							var alertPopup = L.popup();
							alertPopup.setLatLng(map.getCenter()).setContent('layer not logged').openOn(map);
						}
					},
					error: function (response) {
						var alertPopup = L.popup();
						alertPopup.setLatLng(map.getCenter()).setContent(response).openOn(map);
					}
           		});
			}).on('pasteImageError', function(ev, data){
				alert('Oops: ' + data.message);
				if(data.url){
				  alert('But we got its url anyway:' + data.url)
				}
			}).on('pasteText', function(ev, data){
				$('#markerMessage').insertAfter(this);
			});
			
		    toastr.options.positionClass = 'toast-bottom-right';
		    toastr.options.extendedTimeOut = 1000; //1000;
		    toastr.options.timeOut = 40000;
		    toastr.options.fadeOut = 250;
		    toastr.options.fadeIn = 250;
		    
		});

		function toggleFullScreen() {
			if (!document.fullscreenElement && !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
				if (document.documentElement.requestFullscreen) {
				  document.documentElement.requestFullscreen();
				} else if (document.documentElement.msRequestFullscreen) {
				  document.documentElement.msRequestFullscreen();
				} else if (document.documentElement.mozRequestFullScreen) {
				  document.documentElement.mozRequestFullScreen();
				} else if (document.documentElement.webkitRequestFullscreen) {
				  document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
				}
			} else {
				if (document.exitFullscreen) {
				  document.exitFullscreen();
				} else if (document.msExitFullscreen) {
				  document.msExitFullscreen();
				} else if (document.mozCancelFullScreen) {
				  document.mozCancelFullScreen();
				} else if (document.webkitExitFullscreen) {
				  document.webkitExitFullscreen();
				}
			}
		}
	</script>
	<div id="coord" style="width: 185px; display: none">
		<button id="btnInfoMarker" class="btn btn-info mt-1">
			<img src="/icon/019-pin-4.png" style="width: 32px; height: 32px" />
			<div>資訊</div>
		</button>
		<button id="btnRedInfoMarker" class="btn btn-info mt-1">
			<img src="/icon/017-pin-6.png" style="width: 32px; height: 32px" />
			<div>資訊</div>
		</button>
		<button id="btnYellowInfoMarker" class="btn btn-info mt-1">
			<img src="/icon/018-pin-5.png" style="width: 32px; height: 32px" />
			<div>資訊</div>
		</button>

		<button id="btnMedicalMarker" class="btn btn-light mt-1">
			<img src="/icon/010-first-aid-kit.png" style="width: 32px; height: 32px" />
			<div>救護</div>
		</button>
		<button id="btnGroupMarker" class="btn btn-info mt-1">
			<img src="/icon/group.png" style="width: 32px; height: 32px" />
			<div>人群</div>
		</button>
		<button id="btnSupplyMarker" class="btn btn-success mt-1">
			<img src="/icon/supply.png" style="width: 32px; height: 32px" />
			<div>補給</div>
		</button>
		
		<button id="btnFlagBlackMarker" class="btn btn-light mt-1">
			<img src="/icon/black.png" style="width: 32px; height: 32px" />
			<div>黑旗</div>
		</button>
		<button id="btnFlagBlueMarker" class="btn btn-info mt-1">
			<img src="/icon/blue.png" style="width: 32px; height: 32px" />
			<div>藍旗</div>
		</button>
		<button id="btnFlagOrangeMarker" class="btn btn-success mt-1">
			<img src="/icon/orange.png" style="width: 32px; height: 32px" />
			<div>橙旗</div>
		</button>
		<button id="btnFlagRedMarker" class="btn btn-success mt-1">
			<img src="/icon/red.png" style="width: 32px; height: 32px" />
			<div>紅旗</div>
		</button>
		<button id="btnFlagYellowMarker" class="btn btn-success mt-1">
			<img src="/icon/yellow.png" style="width: 32px; height: 32px" />
			<div>黃旗</div>
		</button>

		<button id="btnWarningMarker" class="btn btn-warning mt-1">
			<img src="/icon/warning.png" style="width: 32px; height: 32px" />
			<div>警示</div>
		</button>
		<button id="btnDangerMarker" class="btn btn-danger mt-1">
			<img src="/icon/danger.png" style="width: 32px; height: 32px" />
			<div>危險</div>
		</button>
		
		<button id="btnBlockadeMarker" class="btn btn-info mt-1">
			<img src="/icon/no-stopping.png" style="width: 32px; height: 32px" />
			<div>封鎖</div>
		</button>
		<button id="btnPedestrianMarker" class="btn btn-success mt-1">
			<img src="/icon/crosswalk.png" style="width: 32px; height: 32px" />
			<div>行人</div>
		</button>				

		
		<button id="btnPoliceMarker" class="btn btn-secondary mt-1">
			<img src="/icon/police-car.png" style="width: 32px; height: 32px" />
			<div>警察</div>
		</button>
		<button id="btnRiotPoliceMarker" class="btn btn-warning mt-1">
			<img src="/icon/riotpolice.png" style="width: 32px; height: 32px" />
			<div>防暴</div>
		</button>
		<button id="btnWaterTruckMarker" class="btn btn-warning mt-1">
			<img src="/icon/water-truck.png" style="width: 32px; height: 32px" />
			<div>水車</div>
		</button>
		
		<button id="btnTearGasMarker" class="btn btn-danger mt-1">
			<img src="/icon/teargas.png" style="width: 32px; height: 32px" />
			<div>催淚</div>
		</button>

		<button id="btnImageMarker" class="btn btn-secondary mt-1">
			<img src="/icon/image.png" style="width: 32px; height: 32px" />
			<div>Image</div>
		</button>
		<div style="display:none">
		<input type="file" id="imageUploadFile" name="file" accept="image/*" capture>
		<input type="hidden" name="imagePath" id="imagePath"/></div>
		<textarea id="markerMessage" class="form-control mt-1" rows="2" placeholder="(Message ...or paste the image)" style="width: 100%"></textarea>
	</div>

	<div id="registerFormDiv" class="card shadow-sm m-2 p-4 rounded border border-info" style="display: none">
		<form method="post" id="registerForm" class="container">
			<div class="row form-group">
				<div class="col-4 btn">Layer :</div>
				<div class="col-8">
					<input class="form-control" type="text" placeholder="(layer)" name="layerKey" id="registerLayerKey"/>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-4 btn">Password * :</div>
				<div class="col-8">
					<input class="form-control" type="password" placeholder="(password)" name="password" />
				</div>
			</div>

			<div class="row form-group">
				<div class="col-4 btn">Expire Multiplier :</div>
				<div class="col-8">
					<input class="form-control" type="text" placeholder="(default 10)" name="expireMultiplier" value="10"  style="color:#ACACAC"/>
				</div>
			</div>
			
			<div class="row m-1">
				<button class="col-8 btn btn-primary" type="submit">Create</button>
				<button class="col-4 btn btn-light" type="button" onclick="$('#registerFormDiv').hide()">Cancel</button>
			</div>

		</form>
	</div>
</html>