<!doctype html>
<html lang="en">
<head>
<title>Simple Map</title>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
.iconMarkup {
	margin-left: -50px !improtant ;
	margin-top: -10px !important;
}
</style>
<style>
#map {
	width: 100%;
	height: 100vh
}
</style>
</head>
<body>
	<div id="map"></div>

	<script>
		var allMarkerList = [];

		$(document).ready(function() {

			var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', osm = L.tileLayer(osmUrl, {
				maxZoom : 19,
				attribution : osmAttrib
			});

			map = L.map('map').setView([ 22.2757, 114.1648 ], 17).addLayer(osm);

			var menu = L.popup();

			function onMapClick(e) {
				menu.setLatLng(e.latlng).setContent($('#coord')[0]).openOn(map);
				console.log(menu.getLatLng());
			}

			map.on('contextmenu', onMapClick);

			map.on('dragend', function(e) {
				updateMarkers(map.getCenter().lat, map.getCenter().lng);
			});

			$("#btnInfoMarker").click(function(e) {
				e.preventDefault();
				var message = $('#markerMessage').val();

				$.ajax({
					type : "POST",
					url : '/marker/add',
					data : {
						'lat' : menu.getLatLng().lat,
						'lng' : menu.getLatLng().lng,
						'type' : 'info',
						'message' : message
					},
					success : function(data) {
						updateMarkers(map.getCenter().lat, map.getCenter().lng);
					}
				});
			});

			$("#btnWarningMarker").click(function(e) {
				e.preventDefault();
				var message = $('#markerMessage').val();

				$.ajax({
					type : "POST",
					url : '/marker/add',
					data : {
						'lat' : menu.getLatLng().lat,
						'lng' : menu.getLatLng().lng,
						'type' : 'warning',
						'message' : message
					},
					success : function(data) {
						updateMarkers(map.getCenter().lat, map.getCenter().lng);
					}
				});
			});

			function updateMarkers(lat, lng) {

				allMarkerList.forEach(function(item) {
					map.removeLayer(item);
				});

				$.ajax({
					type : "GET",
					url : '/marker/list',
					data : {
						'lat' : lat,
						'lng' : lng
					},
					success : function(data) {

						data.markerList.forEach(function(item) {
							var marker;
							var message = item.message == null ? '' : '<div class="popupMessage" data-message="' + item.message + '">' + item.message + '</div>';

							var content = 'loading';
							if (item.markerCache != null) {
								content = '<a href="#" data-id="'+item.markerId+'" class="btnUp">' + item.markerCache.upVote + '</a> <a href="#" data-id="'+item.markerId+'" class="btnDown">' + item.markerCache.downVote + '</a> ' + item.markerCache.expire + ' <br/>' + message;
							}

							var iconMarkup = L.divIcon({
								html : item.icon,
								className : 'iconMarkup'
							})

							var popup = L.popup({
								closeOnClick : false,
								autoClose : false,
								autoPan : false
							}).setContent(content);

							if (item.controllable) {
								marker = L.marker([ item.lat, item.lng ], {
									draggable : item.controllable,
									icon : iconMarkup
								}).addTo(map).bindPopup(popup).openPopup();

								marker.on('dragend', function(e) {
									$.ajax({
										type : "POST",
										url : '/marker/move',
										data : {
											'lat' : e.target.getLatLng().lat,
											'lng' : e.target.getLatLng().lng,
											'markerId' : item.markerId
										},
										success : function(data) {
											updateMarkers(map.getCenter().lat, map.getCenter().lng);
										}
									});
								});
							} else {
								marker = L.marker([ item.lat, item.lng ]).addTo(map).bindPopup(popup);
							}

							allMarkerList.push(marker);

						});
						$(".popupMessage").on("dblclick",function(e){
							$(this).replaceWith("<input type=\"text\" value=\"" + $(this).data("message") + "\"/>");
						})
						$(".btnUp").on("click", function(e) {
							e.preventDefault();
							console.log($(this).data("id"));

							$.ajax({
								type : "POST",
								url : '/marker/up',
								data : {
									'markerId' : $(this).data("id")
								},
								success : function(data) {
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}
							});
						});

						$(".btnDown").on("click", function(e) {
							e.preventDefault();
							console.log($(this).data("id"));

							$.ajax({
								type : "POST",
								url : '/marker/down',
								data : {
									'markerId' : $(this).data("id")
								},
								success : function(data) {
									updateMarkers(map.getCenter().lat, map.getCenter().lng);
								}
							});
						});
					}
				});

			}

			window.setInterval(intervalUpdate(), 1000);
			function intervalUpdate() {
				updateMarkers(map.getCenter().lat, map.getCenter().lng);
			}
		});
	</script>

	<div id="coord" style="width: 300px">
		<div>
			<button id="btnDangerMarker" class="btn btn-danger mt-1" style="width: 100%">Danger</button>
		</div>
		<div>
			<button id="btnWarningMarker" class="btn btn-warning mt-1" style="width: 100%">Warning</button>
		</div>
		<div>
			<button id="btnInfoMarker" class="btn btn-info mt-1" style="width: 100%">Info</button>
		</div>
		<div>
			<textarea id="markerMessage" class="form-control mt-1" rows="2" placeholder="(Message)"></textarea>
		</div>
	</div>
</body>
</html>